@font-face {
  font-family: "Montserrat";
  src: url("./assets/font/Montserrat-VariableFont_wght.ttf format")
    format("truetype");
}

:root {
  color: rgb(84, 91, 84);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.03rem;
}
@media screen and (min-width: 640px) {
  :root {
    background-image: url("./assets/DSCN3169-1024x768.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

a:any-link {
  cursor: pointer;
  text-decoration: none;
  color: rgb(84, 91, 84);
}
a:active {
  color: rgb(84, 91, 84);
}
a:hover {
  color: #99cc00;
}
.inTextLink a {
  color: #99cc00;
}
.inTextLink a:hover {
  text-decoration: underline;
}
.green {
  color: #99cc00;
}
.blue {
  color: #003366;
}
.lightgrey {
  color: #808080;
}
.center {
  text-align: center;
}
li {
  list-style-type: none;
}
h1 {
  margin: 0px;
}

h2 {
  margin: 0px;

  color: #99cc00;
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
}

h3 {
  margin: 0px;
  margin-top: 10px;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 15px;
}
p {
  margin-top: 14px;
}

img {
  max-width: 100%;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bordered {
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #003366;
}

/* ---- */
/* BODY */
/* ---- */

@media screen and (min-width: 640px) {
  body {
    margin-inline: 10%;
    background-color: white;
    margin-top: 4%;
    margin-bottom: 5%;
    padding: 1%;
    border-radius: 10px;
  }
}
@media screen and (min-width: 980px) {
  body {
    margin-inline: 22%;
  }
}
.pageBody {
  padding: 10%;
}

/* ------ */
/* HEADER */
/* ------ */

header {
  position: fixed;
  width: 100%;
  z-index: 99;
}
@media screen and (min-width: 640px) {
  .nav--mobile-btn {
    display: none;
  }
}

/* ------ */
/* NAVBAR */
/* ------ */

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav--brand-identity {
  display: flex;
  align-items: center;
}
.nav--brand-identity img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}
.signature {
  display: flex;
  flex-direction: column;
}
.nav--item {
  visibility: hidden;
}
@media screen and (max-width: 640px) {
  .nav--list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 92vh;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    transform: translateX(100%);
    transition: all 0.7s;
    margin-top: 68px;
    padding: 0px;
    border-radius: 10px;
  }
}
.nav--item a::before {
  content: attr(title);
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-weight: bold;
}

@media screen and (min-width: 640px) {
  .nav--list {
    display: block;
    visibility: visible;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(216, 223, 215);
    color: rgb(84, 91, 84);
    display: flex;
    padding-inline: 10px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 4px;
  }
  .nav--item {
    display: block;
    visibility: visible;
  }
}

/* -------------- */
/* HAMBURGER MENU */
/* -------------- */

.nav--mobile-btn .menu-close {
  display: none;
}

.is-open.nav--mobile-btn .menu-open {
  display: none;
}

.is-open.nav--mobile-btn .menu-close {
  display: block;
}

.is-open.nav--list {
  background-color: hsla(0, 0%, 90%, 0.6);
  backdrop-filter: blur(5px);
  transform: translateX(0);
  visibility: visible;
}

.is-open .nav--item {
  visibility: visible;
}

/* --------- */
/* BUTTON UP */
/* --------- */

.btnup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(-25%, -25%);
}

.btnup.is-active {
  display: block;
  opacity: 0.5;
}
.btnup svg {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 640px) {
  .btnup {
    transform: translate(-50%, -25%);
    bottom: 8%;
    right: 8%;
  }
}
@media screen and (min-width: 980px) {
  .btnup {
    right: 21%;
    bottom: 10%;
  }
}
.btnup svg {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 640px) {
  .btnup svg {
    width: 56px;
    height: 56px;
  }
}
.btnup svg:hover path:nth-child(1),
.btnup svg:active path:nth-child(1) {
  fill: #99cc00;
  stroke: rgb(84, 91, 84);
}

.btnup svg:hover path:nth-child(2),
.btnup svg:active path:nth-child(2) {
  fill: rgb(84, 91, 84);
}

/* ------ */
/* IMAGES */
/* ------ */

.image1 {
  width: 100%;
  border-radius: 5px;
}

.image2 {
  width: 65%;
  border-radius: 5px;
}

.image3 {
  width: 75%;
  border-radius: 5px;
}
.image4 {
  width: 75%;
  border-radius: 5px;
}
.image5 {
  width: 75%;
  border-radius: 5px;
}
.image6 {
  width: 65%;
  border-radius: 5px;
}
.image7 {
  width: 45%;
  border-radius: 5px;
}
.image8 {
  width: 55%;
  border-radius: 5px;
}
.image9 {
  width: 45%;
  border-radius: 5px;
}
